*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
}

.mp3{
    width: 400px;
    height: 500px;
    position: relative;
    margin-left: 35%;
    margin-top: 120px;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 15px;
}

.mp3 .image img{
    width: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 15px;
}

audio{
    width: 100%;
    outline: none;
}